*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Set the background color to transparent */
   /* z-index: 1000;  Ensure header is on top of other elements */  
  }
body{
    box-sizing: border-box;
    font-size: 15px;
    height: 260%;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

nav{
    display: flex;
    margin: 3px;
    height: 10vh    ;
    align-items: center;
    gap: 65%;
    background: none;
    margin: 0;
    background-color: #343434;
    color: white;
    
}
.logo{
    font-family: 'Ephesis', cursive;
    margin-left: 2px;
    text-align: center;
    font-size: 30px;
    opacity: 1.0;
    color: white;

}

.main-logo{
    font-family: 'Ephesis', cursive;
    text-align: center;
    font-size: 75px;
    margin-bottom: 10px;
    
}
a{
    text-decoration: none;
    color: black;
   
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1rem;
    
}


.main {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;
    color: black;
}

a{
    color: white;
}
.quote-card {
    
    width: 70%;
    transition: transform 0.5s ease-in-out;
    background-color: #333;
    color: white;
    padding: 20px;
    height: 150px;
    align-items: center;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 3px;

}


/* Add responsive styles for smaller screens */
@media (min-width: 768px) {
    .quote-card {
        flex: 0 0 33.33%; /* Show three quote-cards in a row on larger screens */
    }
}

/* Style the quote text and author */
.quote-card p {
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
}

.catebtn{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1rem;
  }
  .catebtn:hover{
    color: wheat;
    background-color: transparent;
    border: none;
  
  } 
  .dropdown {
    position: relative;
    color: white;
  }
  
  .dropdown-options {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Set your desired background color */
    display: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-options {
    display: block;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    width: 5rem;
  }
  
  .dropdown-options a {

    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 0;
  }
  
  .dropdown-options a:hover {
    color: wheat; /* Set your desired hover background color */
    font-size: 15px;
    transition: 0.1s all ease-out;
    
  }

.submit{
    width: auto;
    
    margin: 4xpx;
    padding: 5px;
    border-radius: 8px;
    border-color: transparent;
    border-width: 2px;
    background-color: whitesmoke;
}
.submit:hover{
   background-color: wheat;
   color: black;
   border-radius: 8px;
   
   transition: transform 0.5s ease-in-out;
   
}

.login-text{
    text-align: center;
    background-color: antiquewhite;
    margin: 3px;
    padding: 7px;
    flex: 0 0 30%; /* Each quote-card takes full width */
    transition: transform 0.5s ease-in-out;
    background-color: antiquewhite;
    margin: 3px;
    padding: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

footer {
    background-color: #131112;
    
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: white;
}

.footer-links a:hover {
    text-decoration: underline;
}
/* Add these styles to your existing CSS */
.fa-user-dropdown {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 100%;
    left: 0;
    width: 7rem;
    background-color: #333;
    display: none;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .fa-user-dropdown {
    display: flex;
    flex-direction: column;
}
.userdd{
    margin: 3px;
    margin-bottom: 10%;
    color: white;
    
}
.userdd:hover{
    border: 1px white solid;
    color: wheat;
}

.container{
    margin-top: 6%;
    width: 100%;
}

.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;    
}

.card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2{
    background-color: wheat;
    width: 30%;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    position: fixed;

}

.like-icon{
    background: transparent;
    border: none;
    color: white;
}
.fa-solid{
    color: red;
}
.catebtn:hover{
    color: white    ;
}

.about-heading{
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;

}

.about-content{
    background-color: rgb(211, 189, 149);
    color: black;
    font-size: 20px;
    padding: 10px;
    height: 10vh    ;
    margin: 10px;
    border-radius: 8px;

}
.about-intro{
    background-color: #333;
    color: white;
    font-size: 20px;
    padding: 10px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.usericon{
    color: white;
}
.Usernametext{
    margin: 3px;
    font-weight: 1000;
    
}

.text-container{
    background-color: rgb(209, 206, 206);
    padding: 10px;
       
    margin: 10px;
    border-radius: 8px;
}